<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="x-icon" href="https://static-00.iconduck.com/assets.00/pinterest-icon-2048x2048-os3lysf9.png">
  <title>Pinterest-clone</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
  <div class="container">
    <div class="content">
      <!--pinterest logo-->
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
        class="img1" />
      <p class="header">Log in to see more</p>
      <form action="/login" method="post">
        <input type="text" placeholder="username" name="username" class="detail" /><br />
        <input type="password" placeholder="Password" name="password" class="detail" />

        <h4>Forgot your password?</h4>

        <input type="submit" class="btn int" value="Login">
      </form>

      <footer>
        <p>
          By continuing, you agree to Pinterest's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <p>Not on Pinterest yet? Sign up</p>
      </footer>
    </div>
  </div>
  <a href="/register" class="upbtn">Sign up</a>

</body>

</html>